* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: rgb(2, 2, 58);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
}

.logo a {
  height: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffd700;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffd700;
}

.cta-btn {
  background-color: #ffd700;
  color: #0d1b2a;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.03s;
}
.btn-buildings {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 50%;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 12px;
  padding: 10px;
  background-color: gold;
}
.btn-buildings:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in, ease-out;
}
.box-1 IMG:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in, ease-out;
}
.box-1 #img-1 {
  margin-top: 10px;
}
.image {
  padding: 15px;
  margin: 10px;
  border-radius: 15%;
  width: 30%;
  background-size: cover;
  background-position: center;
}
